@import "../../_styles/theme.scss";
header {
  background-color: #222;
  border-bottom: 2px solid $primary-color-500;
  box-shadow: 0 5px 13px #111;
  position: relative;
}

.create-character-wizard__nav {
  background: #111;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 30px;

  button {
    width: 150px;
  }
}

.create-character-wizard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr 1fr;
  grid-gap: 30px;
  margin: 0 30px;
  padding-top: 10px;
}

.create-character-wrapper {
  background: linear-gradient(rgba(29, 29, 29, 0.4), rgba(29, 29, 29, 0.7)),
    url(/assets/images/background-creation.jpg) no-repeat top center;
  background-size: cover;
  height: calc(100vh - 210px);
  padding-top: 90px;

  .create-character-section {
    max-width: 1200px;
    margin: 0 auto;
  }

  .create-character-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;

    .create-character__selection,
    .create-character__info {
      padding: 40px;
    }
  }
  .create-character__race {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-gap: 30px;
    position: relative;

    .create-character__race--card {
      border: 1px solid #111;
      background-color: #111;
      background: url(/assets/images/character/human-alt.png) #c7c7c7 no-repeat top center;
      margin-bottom: 15px;
      height: 100px;
      text-align: center;
      background-size: 90%;
      position: relative;

      &--Elf {
        background: url(/assets/images/character/elf.png) #c7c7c7 no-repeat top center;
      }

      &:hover {
        cursor: pointer;
      }
      p {
        align-self: center;
        background: #000;
        position: absolute;
        bottom: -1px;
        padding: 5px 0;
        left: 0;
        margin: 0;
        width: 100%;
      }
    }
  }

  .create-character__info {
    background: rgba(000, 000, 000, 0.4);
    border: 2px solid #111;
    line-height: 1.5;
    h2 {
      margin-top: 0;
    }
  }
}

.logo {
  margin: 0 auto;
  padding-top: 20px;
  display: block;
}

h1 {
  text-align: center;
  margin-top: 5px;
}

.wizard-controls {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;

  button {
    width: 250px;
    margin-left: 25px;

    &:first-of-type {
      margin-left: 0;
    }
  }
}
