@import "../../_styles/theme.scss";
header {
  background-color: #222;
  border-bottom: 2px solid $primary-color-500;
  box-shadow: 0 5px 13px #111;
  position: relative;
}

table, th, td {
  border-collapse: collapse;
}
table {
  width:100%;
  border: 1px solid #111;

  tr:nth-of-type(even) {
    background-color:#666;
  }

  tr td {
    padding:5px 0px 3px 10px;
  }

  tr td:nth-of-type(even)  {
    text-align: center;
    border-left:1px solid #111;
    padding:0;
  }

}

.create-character-wizard__nav {
  background: #111;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 30px;

  button {
    width: 150px;
  }
}

.create-character-wizard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr 1fr;
  grid-gap: 30px;
  margin: 0 30px;
  padding-top: 10px;
}

.create-character-wrapper {

  background: linear-gradient(rgba(29, 29, 29, 0.4), rgba(29, 29, 29, 0.7)),
    url(/assets/images/creation-bg1.jpg) no-repeat top center;
  background-size: cover;
  height: calc(100vh - 210px);
  padding-top: 90px;

  .create-character-section {
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 0px 20px 10px #000;
  }

  .create-character-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    .create-character__selection,
    .create-character__info {
      padding: 40px;
    }
  }
  .create-character__race {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-gap: 30px;
    position: relative;

    .create-character__race--card {
      border: 1px solid #111;
      background-color: #111;
      background: url(/assets/images/character/race/human.png) #c7c7c7 no-repeat top center;
      margin-bottom: 15px;
      height: 100px;
      text-align: center;
      background-size: 60% !important;
      position: relative;
      transition: background-color 250ms linear;
      &--Elf {
        background: url(/assets/images/character/race/elf.png) #c7c7c7 no-repeat top center;
      }

      &--Wood-elf {
        background: url(/assets/images/character/race/woodelf.png) #c7c7c7 no-repeat top center;
      }

      &--Dark {
        background: url(/assets/images/character/race/darkelf.png) #c7c7c7 no-repeat top center;
      }

      &--Half.Drow {
        background: url(/assets/images/character/race/halfdrow.png) #c7c7c7 no-repeat top center;
      }

      &--Half.Elf {
        background: url(/assets/images/character/race/halfelf.png) #c7c7c7 no-repeat top center;
      }

      &--Dwarves {
        background: url(/assets/images/character/race/dwarves.png) #c7c7c7 no-repeat top center;
      }

      &--Mau {
        background: url(/assets/images/character/race/mau.png) #c7c7c7 no-repeat top center;
      }

      &--Tlaloc {
        background: url(/assets/images/character/race/tlaloc.png) #c7c7c7 no-repeat top center;
      }

      &--Gnome {
        background: url(/assets/images/character/race/gnome.png) #c7c7c7 no-repeat top center;
      }

      &--Minotaur {
        background: url(/assets/images/character/race/minotaur.png) #c7c7c7 no-repeat top center;
      }
      &.active {
        background-color: $primary-color-500;
      }
      &:hover {
        cursor: pointer;
        background-color: $primary-color-500;
        transition: background-color 250ms linear;
      }
      p {
        align-self: center;
        background: #000;
        position: absolute;
        bottom: -1px;
        padding: 5px 0;
        left: 0;
        margin: 0;
        width: 100%;
      }
    }
  }

  .create-character__choice {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-gap: 30px;
    position: relative;

    .create-character__choice--card {
      border: 1px solid #111;
      background-color: #111;
      background: url(/assets/images/character/class/fighter.png) #c7c7c7 no-repeat top center;
      margin-bottom: 15px;
      height: 100px;
      text-align: center;
      background-size: 80% !important;
      position: relative;
      transition: background-color 250ms linear;
      &--Fighter {
        background: url(/assets/images/character/class/fighter.png) #c7c7c7 no-repeat top center;
      }

      &--Mage {
        background: url(/assets/images/character/class/mage.png) #c7c7c7 no-repeat top center;
      }

      &--Cleric {
        background: url(/assets/images/character/class/cleric.png) #c7c7c7 no-repeat top center;
      }

      &--Bard {
        background: url(/assets/images/character/class/bard.png) #c7c7c7 no-repeat top center;
      }

      &--Rogue,
      &--Thief {
        background: url(/assets/images/character/class/rogue.png) #c7c7c7 no-repeat top center;
      }

      &.active {
        background-color: $primary-color-500;
      }
      &:hover {
        cursor: pointer;
        background-color: $primary-color-500;
        transition: background-color 250ms linear;
      }
      p {
        align-self: center;
        background: #000;
        position: absolute;
        bottom: -1px;
        padding: 5px 0;
        left: 0;
        margin: 0;
        width: 100%;
      }
    }
  }

  .create-character__info {
    background: rgba(000, 000, 000, 0.4);
    border: 2px solid #111;
    line-height: 1.5;
    display: grid;
    grid-template-columns: 1fr 151px;
    grid-gap: 30px;

    &--description {
      display: block;
      grid-gap: 0;
      grid-template-columns: none;
    }
    h2 {
      margin-top: 0;
    }

    .create-character__raceImage,
    .create-character__image {
      background-color: #c7c7c7;
      border: 2px solid #000;
      text-align: center;
      padding: 10px;
    }
    img {
      max-width: 100%;
    }

    .create-character__description {
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-top: white 3px solid;
      border-bottom: white 3px solid;
      padding: 10px 0;
      grid-gap: 5px;
      margin-bottom: 20px;
    }
  }
}

.logo {
  margin: 0 auto;
  padding-top: 15px;
  display: block;
}

h1 {
  text-align: center;
  margin-top: 5px;
  font-size: 20px;
}

.wizard-controls {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;

  button {
    width: 250px;
    margin-left: 25px;

    &:first-of-type {
      margin-left: 0;
    }
  }
}

.final-step {
  width: 450px;
  margin: 0 auto;
  line-height: 1.5;
}
