<header>
    <img class="logo" src="http://archaicquest.com/UI/Images/archaic-quest.png"
        alt="ArchaicQuest logo Text based game" />
    <h1>Character Creation</h1>
</header>
<div class="create-character-wrapper">



    <mat-horizontal-stepper class="create-character-section" [linear]="true" #stepper>
        <mat-step [stepControl]="raceForm">
            <form [formGroup]="raceForm">
                <div class="create-character-container">
                    <ng-template matStepLabel>Select your race</ng-template>
                    <div class="create-character__selection">

                        <div class="create-character__race">
                            <div *ngFor="let race of races" class="create-character__race__picker">

                                <div class="create-character__race--card"
                                    ngClass="create-character__race--card--{{race.name}}" (click)="selectRace(race)">
                                    <p>{{race.name}}</p>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="create-character__info">
                        <h2>{{raceHeader}}</h2>
                        <p>{{raceDescription}}</p>
                    </div>
                </div>
                <div class="wizard-controls">
                    <button mat-raised-button color="primary" matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <form [formGroup]="raceForm">
                <div class="create-character-container">
                    <ng-template matStepLabel>Select your class</ng-template>
                    <div class="create-character__selection">

                        <div class="create-character__race">
                            <div *ngFor="let class of classes" class="create-character__race__picker">

                                <div class="create-character__race--card">
                                    <p>{{class.name}}</p>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="create-character__info">

                    </div>
                </div>
                <div class="wizard-controls">
                    <button mat-raised-button color="accent" matStepperPrevious>Back</button>

                    <button mat-raised-button color="primary" matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <form [formGroup]="raceForm">
                <div class="create-character-container">
                    <ng-template matStepLabel>Description</ng-template>
                    <div class="create-character__selection">


                        <app-player-appearance></app-player-appearance>

                    </div>

                    <div class="create-character__info">
                        <!-- <h2>{{raceHeader}}</h2>
                        <p>{{raceDescription}}</p> -->
                    </div>
                </div>
                <div class="wizard-controls">
                    <button mat-raised-button color="accent" matStepperPrevious>Back</button>

                    <button mat-raised-button color="primary" matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            You are now done.
            <div>
                <button mat-stroked-button color="secondary" matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>



</div>