<header>
    <img class="logo" src="http://archaicquest.com/UI/Images/archaic-quest.png"
        alt="ArchaicQuest logo Text based game" />
    <h1>Character selection</h1>
</header>
<div class="manage-character-wrapper">
    <div class="manage-character-container">
        <div class="manage-character-list">
            <h2>Pick a character to play</h2>

            <div class="manage-character-list__player">
                <h3>Malleus Malefica</h3>
                <p>A level 51, Male Human Mage.</p>
                <p>Last played: 08/01/2019 23:00</p>
            </div>
            <div class="manage-character-list__player">
                <h3>Drizzt Du'urden</h3>
                <p>A level 51, Male Dark Elf Blade master.</p>
                <p>Last played: 31/03/2019 21:22</p>
            </div>
            <div class="manage-character-list__player">
                <h3>Freyja</h3>
                <p>A level 5, Female Elf Cleric.</p>
                <p>Last played: 09/11/2019 00:00</p>
            </div>
        </div>

        <div>
            <div class="manage-character-new">
                <h2>New Character</h2>
                <p>There is no limit to the amount of fun and characters you can have.</p>
                <button mat-raised-button color="primary">Create a new character</button>
            </div>

            <div class="manage-character-stats">
                <h2>Account Stats</h2>

                <table>
                    <tr>
                        <td>
                            Cumulative Hours:
                        </td>
                        <td>
                            1461
                        </td>
                    </tr>
                    <tr>
                        <td>
                            kills:
                        </td>
                        <td>
                            150,000,000,000
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Deaths:
                        </td>
                        <td>
                            150,000,000,000
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Gold:
                        </td>
                        <td>
                            150,000,000,000
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Experience:
                        </td>
                        <td>
                            150,000,000,000
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Favourite Char:
                        </td>
                        <td>
                            xx
                        </td>
                    </tr>
                </table>

            </div>
        </div>

    </div>
</div>