@import "../../_styles/theme.scss";
header {
  background-color: #222;
  border-bottom: 2px solid $primary-color-500;
  box-shadow: 0 5px 13px #111;
  position: relative;

  .logo {
    margin: 0 auto;
    padding-top: 15px;
    display: block;
  }

  h1 {
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
  }
}

.manage-character-wrapper {
  background: linear-gradient(rgba(29, 29, 29, 0.4), rgba(29, 29, 29, 0.7)),
    url(/assets/images/creation-bg1.jpg) no-repeat top center;
  background-size: cover;
  height:calc(100vh - 37px);
  padding-top: 90px;

  .loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99;
    align-items: center;
    display: flex;

    .mat-spinner {
      margin: 0 auto;
    }
  }
}

.manage-character-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1200px;
  margin: 0 auto;
  grid-gap: 30px;

  .manage-character-list,
  .manage-character-new,
  .manage-character-stats {
    background: #424242;
    border: 2px solid #111;
    line-height: 1.5;
    padding: 15px;
    box-shadow: 0px 0px 20px 3px #000;
  }

  .manage-character-stats {
    margin-top: 30px;
  }

  .manage-character-list__player {
    border: 1px solid #111;
    padding: 15px;
    background: #222;
    margin-bottom: 10px;
    transition: all 250ms linear;
    position: relative;
    left: 0;

    h3,
    p {
      margin: 0;
    }

    h3 {
      margin-bottom: 10px;
    }

    &:hover {
      cursor: pointer;
      background-color: $primary-color-500;
      color: $accent-color-500;
      transition: all 250ms linear;
      position: relative;
      left: 10px;
    }
  }
}
