::app {
  background: #111;
  white-space: pre;
}
.echo {
  color: #666;
  margin: 0;
}

.room-title {
  color: #2ecc71;
  border-bottom: 1px dashed #555;
  padding-bottom: 5px;
  margin-top: 0px;
  white-space: normal;
}

.room-exits {
  color: #2ecc71;
}

.mob {
  color:yellow;
  margin-bottom: 0;
}

.player {
  color: darkorange;
  margin-bottom: 0;
}

.item {
  margin-bottom: 0;
  &:last-of-type {
    margin-bottom: 10px;
  }
}

p {
  margin-top: 0;
}

pre {
  font-size: 10px;
}