::app {
  background: #111;
  white-space: pre;
}
table {
  width:100%;

  &.data {
    margin-bottom: 15px;

  tr:nth-child(even) {
    background-color: #555;
  }

  td {
    padding-left: 5px;
  }

}
}



pre {
  display: none;

  @media (min-width: 600px){
    display: block;
}

}
.echo {
  color: #666;
  margin: 0;
}

.room-title {
  color: #2ecc71;
  border-bottom: 1px dashed #555;
  padding-bottom: 5px;
  margin-top: 0px;
  white-space: normal;
  max-width: 720px;
}

.room-description {
  max-width: 720px;
}

.hint {
  color:yellow;
}

.room-exits {
  color: #2ecc71;
}

.room-dark, .dark-room {
  color: #666!important;

  .room-exits {
    color: #666!important;

  }
}

.mob, .improve {
  color:yellow;
  margin-bottom: 0;
}

.room-emote {
  margin-bottom: 0;
}
.mob-emote {
  color:#CCCC00;
  margin-bottom: 0;
}

.score-table {
  width:100%;
  max-width: 72ch;
  border-bottom: 1px dashed #555;
  border-top: 1px dashed #555;
  padding: 10px 0;
font-size: 12px;

@media (min-width: 768px){
  font-size: 14px;

}

}

.group-hp {
  color: red;
}
.group-mana {
  color: #0098ff;
}
.group-moves {
  color: #2ecc71;
}
.damage {
  color: red;
}

.combat {
  margin:0
}

.combat-start {
  margin-bottom: 15px;
}

.cell-title  {
  color: #2ecc71;
}
.ooc {
  color: chartreuse;
  span {
    color: #fff;
  }
}

.gossip {
  color: fuchsia;
  span {
    color: #fff;
  }
}

.newbie {
  color: yellow;

  span {
    color: red;
  }
}
.char-look {
  border-top: 1px solid #cccc;
  border-bottom: 1px solid #cccc;
  margin: 15px 0;
  max-width: 720px;
}

.player {
  color: darkorange;
  margin-bottom: 0;
}

.item {
  margin-bottom: 0;
  &:last-of-type {
    margin-bottom: 10px;
  }
}

p {
  margin-top: 0;
  max-width: 720px;

}

.motd {
  font-size: 10px;
}
pre {
  font-size: 10px;
}


.help-section {
  max-width: 720px;



  table {
      color: #fff;
      max-width: 720px;
  
      td {
          padding: 3px 10px;
      width: inherit;
          &:first-of-type {
              border-right: 1px white dashed;
              width: 118px;
              color:aqua;
              padding-left: 0;
          }
      }
      border-top: 2px aqua dashed;
      border-bottom: 2px aqua dashed;
  
       
  }

  .simple {
    border-collapse: collapse;
    tr:nth-child(even) {
      background-color: #242528;
    }
    td {
     
      &:first-of-type {
          border-right: 0 none;
          width: auto;
          color:yellow;
          padding-left: 0;
      }
  }
  border-top: 0 none;
  border-bottom: 0 none;
  }
  
  
  pre {
      color: #fff;
      font-size: 16px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      white-space: break-spaces;
  }
  
  border-bottom:  2px aqua dashed;
  padding-bottom: 10px;
  margin-bottom: 20px;
  }

  .help-list {

  td {
 
    &:first-of-type {
color:aqua;
        width: 118px;
    }
  }
}