<div class="client">
    <div class="client-window">
        <app-window></app-window>
    </div>

    <div class="client-stats">
        <app-stat-bar [stats]="playerStats.hp"></app-stat-bar>
        <app-stat-bar type="mana" [stats]="playerStats.mana"></app-stat-bar>
        <app-stat-bar type="moves" [stats]="playerStats.moves"></app-stat-bar>
        <app-stat-bar type="exp" [stats]="playerStats.exp" [showCurrent]="false"></app-stat-bar>
    </div>
    <div class="client-input">
        <app-input></app-input>
    </div>
</div>