.client {
  display: grid;
  background: #18191b;

  .mat-expansion-panel {
    margin-bottom: 10px;
  }

  mat-expansion-panel-header {
    background: rgb(34, 34, 34) none repeat scroll 0% 0%;
border-bottom: 1px solid rgb(0, 0, 0);
border-radius: 0px;

&:hover {
  background-color: #000;
}
  }

  .mat-expansion-panel:not(.mat-expanded) :hover {
    background-color: #000;
  }

  ::ng-deep .mat-expansion-panel-body {
    padding-top: 20px!important;
    background: rgb(34, 34, 34) none repeat scroll 0% 0%!important;
  }

  .client-grid-content-data {
    padding-right: 15px;
    font-size: var(--font-size);
  }

  .xp-bar {

    @media (min-width : 768px){
      display: block;

  }
  }


  .client-grid {
    display: grid;

    @media (min-width : 1680px){
      display: grid;
      grid-template-columns: 1fr 50% 1fr!important;
      grid-gap: 30px;
      margin-left: 0;
  }


    @media (min-width : 968px){
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-gap: 30px;
    overflow-x: hidden;
}

    &::ng-deep {
      .mat-tab-label {
        min-width: 90px;
      }

    }

    .client-player-stats {

      display: none;

      @media (min-width : 1680px){
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-gap: 30px;
    }


      .client-grid-content {
        border:2px solid #333;



        &::ng-deep {
          .mat-tab-body {
           padding: 15px;
          }

          .mat-tab-body-content  {
            max-height: calc(39vh - 45px);
          }
        }


      }
    }

    .player-info {
      text-align: center;
      h2 {
        margin-top: 0;
        border-bottom: 1px solid #888;
padding-bottom: 5px;
      }
    }

    .player-info-table {
      td {
        max-width: 15px;
        min-width: 20px;
      }

      td:nth-child(even) {
        text-align: center;
      }
    }

    .client-game-info {

      display: none;

  //     @media (min-width : 1920px){
  //       display: grid;
  //       grid-template-rows: 1fr 1fr;
  //       grid-gap: 30px;
  //  }


   @media (min-width : 968px){
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
   }



      .client-grid-content {
        border:2px solid #333;



        &::ng-deep {
          .mat-tab-body {
           padding: 15px;
          }
          .mat-tab-body-content {
            max-height: calc(39vh - 45px);
          }
        }
      }
    }

  }

  .ui-mobile-buttons {
    background: rgba(000,000,000,0.8);
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    text-align: right;
    @media (min-width: 728px){
      display:none;
      }

      span {
        margin-top: 14px;
        display: inline-block;
        margin-left: 0;
        margin-right: 30px;
       font-weight: bold;
          }
  }  


  .ui-buttons {
  float: left;
width: 70px;
height: 33px;
background: black;
margin-top: 8px;
margin-left: 15px;
border-radius: 3px;
font-weight: bold;
color: #fff;
border: 1px solid #000;

display: block;
    @media (min-width: 728px){
    display:none;
    }


  }

  .ui-button--map {
left: 96px;
  }

  .ui-button--settings {
    left: 181px;
      }
  .client-window {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    height: calc(100vh - 76px);

    @media (min-width : 768px){
      height: calc(100vh - 106px);
  }
   // max-width:80ch;

    scrollbar-color: #555 #222;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 11px;
      height: 11px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.1);
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.2);
    }
    &::-webkit-scrollbar-thumb:hover {
      background: rgba(255, 255, 255, 0.4);
    }
    &::-webkit-scrollbar-thumb:active {
      background: rgba(255, 255, 255, 0.9);
    }


  }

  .client-input {
    height: 48px;
    align-items: end;
    display: grid;
    position: fixed;
    width: 100%;
  }

  .client-stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0;
    margin-top: 0;

    @media (min-width : 768px){
      grid-gap: 15px;
      margin-top: 30px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  }
}

#container {
  min-width: 250px;
  min-height: 250px;
  height: calc(45vh - 45px);
  overflow: hidden;
}

.settings_trigger {
  font-size: 14px;
width: 40px;
height: 40px;
}