<form [formGroup]="form" autocomplete="off">
    <div class="bottom-bar">
        <div class="input">
            <input #inputTxt type="text" placeholder="Type help for list of commands." formControlName="input"
                maxlength="751" autocomplete="off" />
            <button type="submit" #btn (click)="sendToServer(); inputTxt.select()"
                [disabled]="form.invalid">Send</button>
        </div>
        <div class="extra-content">
            <ng-content></ng-content>
        </div>
    </div>
</form>