input[type="text"] {
  font-size: 16px;
  background-color: #111;
  border-top: 1px solid #656565;
  color: #fff;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  border:0 none;
}

form {
  position: relative;

  button {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 65px;
    height: 30px;
  }
}

::ng-deep {

.mat-autocomplete-panel {
  width: 150px!important;
}

 .mat-option.mat-active {
  background-color: #f6d437!important;
  color:#111;
 }

.ta-results {
  bottom: 44px;
  left:0;

  .ta-item {
    background-color: #222;
    border: 1px solid #444;
    color: #f6d437;
    min-width: 100px;
    font-size: 16px;

    &:focus {
      background-color: #f6d437;
      color:#111;
    }
  }
}
}

.bottom-bar {

display: grid;
grid-template-columns: 1fr auto;

.input {
  position: relative;
}

.extra-content {
  margin: 0 20px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  display: none;

  @media (min-width : 768px){
  display: flex;
}
}
}
