input[type="text"] {
  font-size: 14px;
  background-color: #111;
  border-top: 1px solid #656565;
  color: #fff;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  border:0 none;
}

form {
  position: relative;

  button {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 65px;
    height: 30px;
  }
}
