html,
body {
  background-color: #18191b;
  color: #fff;
  font-family: var(--font-family);
  line-height: 1.5;
  font-size: 14px;

  @media (min-width: 768px) {
    background-color: #222;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lusitana", serif;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* used for laoding buttons */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.cdk-overlay-pane {
  max-width: 100vw!important;
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner 0.8s linear infinite;
}
.mat-form-field-subscript-wrapper {
position: relative!important;
}
.mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker {
  color: orange;
}

.mat-error {
  color: orange;
  font-size: 14px;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: orange;
}

.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: orange;
}

// .mat-spinner {
//   position: absolute !important;
//   left: calc(50% - 50px);
//   top: calc(50% - 50px);
//   z-index: 99;

//   &:after {
//     content: "";
//     width: 100vw;
//     height: 100vh;
//     background: rgba(000, 000, 000, 0.7);
//     display: block;
//   }
// }
