<div class="welcome-container">


    <div class="welcome-log-in">
        <div class="welcome-log-in__form">

            <img src="http://archaicquest.com/UI/Images/archaic-quest.png" alt="ArchaicQuest logo Text based game" />
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password">
            </mat-form-field>


            <button mat-raised-button color="primary">Sign in</button>

            <p class="forgot-password"><a href="">Forgot password</a></p>

            <div class="or">
                <hr class="bar">
                <span>OR</span>
                <hr class="bar">
            </div>

            <button mat-stroked-button color="primary">Create your first character</button>

        </div>

    </div>

    <div class="welcome-intro">
        <h1>ArchaicQuest <span>A text based RPG | Multi-User Dungeon</span></h1>


        <p class="welcome-tag-line">A world of text adventure is waiting for you. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>

        <button mat-stroked-button color="primary">Create your first character</button>


    </div>



</div>
